$color-text: #FFF;
$color-text-2: rgb(204, 174, 142);
$color-background: rgb(29, 29, 29);
$border: 1px solid rgba(128, 128, 128, 0.363);


// ------------------------------------------------------------


@mixin click {
    &:hover {
        transform: scale(1.06);
    }
    &:active {
        transform: scale(1);
        transition: 0s;
    }
}


// ------------------------------------------------------------


body {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    background: $color-background;
    color: $color-text;
    font-family: sans-serif;
}

img {
    object-fit: cover;
}

.logo {
    color: $color-text;
    span {
        color: $color-text-2;
    }
}

.navigation {
    display: flex;
    .menu-nav {
        ul {
            display: flex;
            list-style-type: none;
            li {
                a {
                    color: $color-text;
                    text-decoration: none;
                }
            }
        }
    }
}


.bordure {
    position: absolute;
    width: 20%;
    height: 100%;
    border-left: $border;
    z-index: 10;
    &__1 {
        left: 20%;
    }

    &__2 {
        left: 40%;
    }

    &__3 {
        left: 60%;
    }

    &__4 {
        left: 80%;
    }
}
// ------------------------------------------------------------------


// header
header {
    height: 100%;
    width: 100%;
    position: relative;
    width: 100%;
    height: 760px;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.418), black) ;
    // background
    img {
        z-index: -9;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 760px;
    }

    // contenue logo
    .contenu-logo {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 396px;
        // logo header
        .logo__header {
            text-align: center;
            width: 100%;
            height: 396px;
            font-size: 22px;
            background: $color-background;
            h2 {
                cursor: pointer;
            }
        }
        
        
        // reseaux
        .reseaux {
            z-index: 11;
            position: absolute;
            top: 175px;
            left: 85px;
            i {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                margin-top: 45px;
                color: lighten($color: $color-background, $amount: 30);
            }
            
            // logo transparent
            .logo-transparent {
                color: lighten($color: rgba(29, 29, 29, 0.13), $amount: 30) ;
                font-size: 78px;
                position: absolute;
                top: 40px;
                left: -155px;
                z-index: 0;
                h2 {
                    width: 70%;
                }
            }
        }
    }

    .navigation__header {
        display: flex;
        position: relative;
        width: 60%;
        height: 30px;
        margin-right: 20%;
        z-index: 11;
        .number-header {
            color: $color-text;
            width: 33.3%;
            text-align: center;
            cursor: pointer;
            &:hover {
                color: $color-text-2;
            }
        }
        
        .menu-nav__header {
            width: 66.6%;
            display: flex;
            justify-content: flex-end;
            i {
                display: none;
            }
            ul {
                flex-wrap: wrap;
                text-align: right;
                li {
                    margin-left: 62px;
                    padding-bottom: 20px;
                    cursor: pointer;
                    @include click();
                    a {
                        &:hover {
                            color: $color-text-2;
                        }
                    }
                }
            }
        }
    }
    
    .titre {
        color: $color-text;
        position: absolute;
        margin-right: 20%;
        right: 0;
        top: 346px;
        width: 60%;
        z-index: 10;
        h1 {
            font-size: 70px;
            display: flex;
            justify-content: flex-end;
        }
    }
}


// --------------------------------------------------------------------


// nav 
.navigation-principale {
    width: 100%;
    height: 1760px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    z-index: 20;
    // projets
    .projet {
        position: relative;
        width: 25%;
        height: 880px;
        background: rgba(0, 0, 0, 0.486);
        cursor: pointer;
        overflow: hidden;
        transition: all 0.3s;
        // images
        .image-projet {
            img {
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 880px;
                z-index: -5;
            }
        }
        
        // titre
        .titre {
            height: 100%;
            display: flex;
            flex-direction: column;
            h2, i, p {
                position: relative;
                color: $color-text;
            }
            
            h2, p {
                display: flex;
                margin-left: 60px;
            }
            
            h2 {
                width: 35%;
                font-size: 23px;
            }

            i {
                display: none;
            }

            p {
                padding: 0;
                height: 100%;
                justify-content: flex-end;
                align-items: flex-end;
                writing-mode: vertical-rl;
                margin-bottom: 60px;
                font-size: 20px;
            }
        }  

        &:hover {
            background: none;
            .image-projet {
                img {
                    transition: all 0.4s;
                    transform: scale(1.06);
                    &:active {
                        transform: scale(1);
                        transition: 0s;
                    }
                }
            }

            .titre {
                i {
                    transition: 0.3s;
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 40%;
                    font-size: 42px;
                    background: rgba(204, 174, 142, 0.886);
                    padding: 30px;
                    border-radius: 50px;
                    z-index: 3;
                    transition: 0.3s;
                    @include click();
                }
        
                h2, p {
                    transition: 0.3s;
                    display: none;
                }
            }
        }

    }
    
}
// boutton
.button {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .bordure {
        position: absolute;
        width: 20%;
        height: 100%;
        border-left: $border;
        z-index: 10;
        &__1 {
            left: 20%;
        }
        
        &__2 {
            left: 40%;
        }
        
        &__3 {
            left: 60%;
        }
        
        &__4 {
            left: 80%;
        }
    }

    button {
        display: none;
        z-index: 11;
        cursor: pointer;
        margin-top: 120px;
        margin-bottom: 0;
        padding: 15px 20px;
        border-radius: 25px;
        color: $color-text;
        border: none;
        font-size: 15px;
        background: lighten($color: $color-background, $amount: 10);
        transition: all 0.3s;
        @include click();
    }
}


// ------------------------------------------------------------------------------------------------


section {
    position: relative; 
    z-index: 13;
    .contacts {
        width: 60%;
        height: 100%;
        margin-left: 20%;
        // titre
        h2 {
            width: 100%;
            padding-top: 116px;
            display: flex;
            justify-content: center;
            margin-top: 0;
            padding-bottom: 120px;
            span {
                color: $color-text-2;
            }
        }
    
        // page contacte
        .contact {
            display: flex;
            justify-content: space-between;
            // paragraphe 1
            .info-contact {
                width: 33.3%;
                z-index: 11;
                p {
                    margin-top: 0;
                    padding-top: 0;
                    cursor: pointer;
                    transition: all 0.2s;
                    @include click();
                    &:hover {
                        color: $color-text-2;
                    }
                }
            }
    
            // parragraphe 2
            // formulaire
            .formulaires {
                z-index: 11;
                width: min-content;
                .formulaire {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    .colonne {
                        ::placeholder {
                            color: $color-text;
                        }
                        
                        input, .text{
                            border: none;
                            color: $color-text;
                            margin-bottom: 10px;
                            background: lighten($color: $color-background, $amount: 10);
                            padding-left: 22px;
                            padding-right: 10px;
                            width: 205px;
                            height: 58px;
                            border-radius: 15px;
                        }

                        &__2, &__3 {
                            margin-left: 10px;
                        }
    
                        &__3 {
                            display: flex;
                            flex-direction: column;
                            .text {
                                padding-top: 22px;
                                padding-right: 110px;
                                height: 106px;
                            }
                            
                            button {
                                cursor: pointer;
                                color: $color-text;
                                background: $color-text-2;
                                display: flex;
                                justify-content: flex-end;
                                align-self: flex-end;
                                align-items: center;
                                padding: 15px 30px;
                                border-radius: 30px;
                                border: none;
                                font-size: 15px;
                                transition: all 0.3s;
                                @include click();
                                p { 
                                    margin: 0;
                                    padding-right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// ------------------------------------------------------------------------------------------------


footer {
    position: relative;
    .footer {
        width: 60%;
        margin-left: 20%;
        padding-bottom: 85px;
        display: flex;
        justify-content: space-between;
        // logo footer
        .logo__footer {
            padding-top: 135px;
            width: 33.3%;
            z-index: 11;
            h2 {
                cursor: pointer;
                transition: all 0.3s;
                @include click();
                margin: 0;
                font-size: 38px;
                color: $color-text;
            }

            a {
                text-decoration: none;
            }
        }
        
        .navigation__footer {
            width: 33.3%;
            z-index: 11;
            padding-top: 135px;
            .menu-nav__footer {
                width: 100%;
                display: flex;
                ul {
                    margin: 0;
                    width: 100%;
                    padding: 0;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    li {
                        font-size: 12px;
                        transition: all 0.3s;
                        @include click();
                        :hover {
                            color: $color-text-2;
                        }
                    }
                }
            }
            
        }
        
        .copyright {
            z-index: 11;
            padding-top: 135px;
            width: 33.3%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            i, p {
                font-size: 10px;
                margin: 0;
            }
    
            i {
                margin-right: 5px;
            }

            br {
                display: none;
            }
        }
    }
}


// ------------------------------------------------------------------------------------------------


@media screen and (max-width: 1024px) {
    header {
        .logo__header {
            h2 {
                height: 100px;

            }
        }

        .navigation__header {
            position: relative;
            .menu-nav__header {
                i {
                    position: absolute;
                    top: 15px;
                    right: 0;
                    display: block;
                    cursor: pointer;
                    font-size: 30px;
                }

                &:hover {
                    transition: all 0.3s;
                    color: $color-text-2;
                    height: 250px;
                    i {
                        display: none;
                    }
                    ul {
                        display: block;
                        li {
                            margin-bottom: 20px;
                        }
                    }
                }
                
                ul {
                    display: none;
                }
            }
        }

        .titre {
            h1 {
                font-size: 30px;
            }
        }
    }


    .navigation-principale {
        height: 1200px;
        flex-wrap: wrap;
        .projet {
            width: 33.3%;
            height: 600px;
            .image-projet {
                img {
                    height: 600px;
                }
            }

            .titre {
                h2 {
                    font-size: 18px;
                }

                i, p {
                    font-size: 15px;
                }

                p {
                    height: 126px;
                    position: absolute;
                    top: 450px;
                }
            }
        }
    }

    .button {
        button {
            display: block;
            font-size: 12px;
        }
    }

    section {
        .contacts {
            width: 100%;
            margin-left: 0;
            .contact {
                margin: auto;
                text-align: center;
                display: flex;
                align-items: center;
                flex-direction: column;
                .info-contact {
                    width: 40%;
                    p {
                        font-size: 12px;
                    }
                } 
                
                .formulaires {
                    .formulaire {
                        flex-direction: column;
                        align-items: center;
                        .colonne {
                            display: flex;
                            margin-left: 0;
                            text-align: center;
                            input, .text {
                                font-size: 12px;
                            }

                            .mail, .company {
                                margin-left: 10px;
                            }
                            
                            &__3 {
                                textarea {
                                    margin: auto;
                                }

                                button {
                                    margin: auto;
                                    font-size: 12px;
                                }
                            }
                        }

                    }
                }
            }
        }
    }

    footer {
        .footer {
            .navigation__footer {
                display: none;
            }

            .copyright {
                width: 66.6%;
                br {
                    display: none;
                }
            }
        }
    }
}


// ------------------------------------------------------------------------------------------------


@media screen and (max-width: 680px) {
    .navigation-principale {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 1800px;
        .projet {
            width: 100%;
        }
    }

    section {
        .contacts {
            h2 {
                z-index: 110;
            }

            .formulaires {
                .formulaire {
                    margin: auto;
                    width: auto;
                    .colonne {
                        width: 70%;
                        &__3 {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer {
            flex-direction: column;
            .logo__footer {
                padding-top: 20px;
                width: 100%;
                text-align: center;
            }

            .copyright {
                padding-top: 20px;
                padding-left: 35px;
            }
        }
    }
}